body {
  /* background-image: url("assets/grid_section_background.jpeg"); */
  background-color: #0D0D0D;
  background-size: cover;
  display: grid;
  font-family: 'Cinzel', serif;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  margin: 0px;
}

h1,
h2 {
  color: white;
}

.player-bar {
  background-image: url("assets/grid_section_background.jpeg");
  background-size: cover;
  /* background-color: Gainsboro; */
  height: auto;
  text-align: center;
  width: 325px;
}

.player-2 {
  background-position: right;
}

.player-1-win-count,
.player-2-win-count {
  color: white;
}

.grid-section {
  display: tile;
  text-align: center;
  width: 100%;
}

.grid {
  align-content: space-between;
  background-image: url("assets/grid_background.jpeg");
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 480px;
  justify-content: space-between;
  margin: auto;
  place-self: start center;
  width: 480px;
}

.tile {
  /* background-image: url("assets/grid_section_background.jpeg"); */
  /* background-size: 100vh; */
  /* border-image: url("assets/grid_background.jpeg") 5px; */
  background-color: #0D0D0D;
  cursor: pointer;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}
/*
.t1 {
  border-width: 0px 5px 5px 0px;
}

.t2 {
  border-width: 0px 5px 5px 5px;
}

.t3 {
  border-width: 0px 0px 5px 5px;
}

.t4 {
  border-width: 5px 5px 5px 0px;
}

.t5 {
  border-width: 5px;
}

.t6 {
  border-width: 5px 0px 5px 5px;
}

.t7 {
  border-width: 5px 5px 0px 0px;
}

.t8 {
  border-width: 5px 5px 0px 5px;
}

.t9 {
  border-width: 5px 0px 0px 5px;
} */

.icon {
  height: 100px;
  width: 85px;
}

.disable {
  cursor: default;
}

.hide {
  display: none;
}

.tile-icon {
  background-color: transparent;
  height: 105px;
  width: 95px;
}
