body {
  background-image: url(assets/grid_section_background.jpeg);
  background-size: cover;
  display: grid;
  font-family: 'Cinzel', serif;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  margin: 0px;
}

h1,
h2 {
  color: white;
}

.player-bar {
  background-color: Gainsboro;
  border: 2px solid red;
  height: auto;
  text-align: center;
  width: 300px;
}

.player-1-wins,
.player-2-wins {
  color: black;
}

.grid-section {
  border: 3px solid blue;
  display: tile;
  text-align: center;
  width: 100%;
}

.grid {
  align-content: space-between;
  background-image: url(assets/grid_background.jpeg);
  border: 3px solid orange;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 480px;
  justify-content: space-between;
  margin: auto;
  place-self: start center;
  width: 480px;
}

.tile {
  background-image: url(assets/grid_section_background.jpeg);
  background-size: 100vh;
  cursor: pointer;
  border: 2px solid red;
  height: 150px;
  width: 150px;
}

.icon {
  height: 100px;
  width: 85px;
}


.disable {
 {
  cursor: default;
}
